*/__pycache__
logs
.DS_Store

# file extensions
*.png
*.gif
*.out
*.pyc
*.env
*.pt
*.mp4

# LaTeX build files
*.aux
*.log
*.out
*.toc

.vscode*
*outputs*
data/*
!assets/*.gif
!data/custom_datasets.py
examples/*
!examples/01_mnist.ipynb
!examples/02_inference.ipynb
!examples/03_mazes.ipynb
!examples/04_parity.ipynb
!examples/05_huggingface.ipynb
!examples/goldfish.jpg
checkpoints
utils/hugging_face/
